html, body {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    background-image: url("image/6879716.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div {
    display: flex;
}
p {
    font-size: 60px;
    line-height: 60px;
    color: white;
    font-weight: 700;
    font-family: 'Reggae One', cursive;
    word-spacing: 15px;
}
button {
    margin: 10px;
    padding: 10px;
    display: flex;
    background-color: transparent;  
    border-radius: 15px;
    border: none;
    background-color: rgba(255, 255, 255, 0.3);
 
}