.appbar{
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0%;
    background-color: #235390;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
 }
.appBarContent {
    display: flex;
    justify-content: space-between;
    width: 60%;
    font-size: 20px;
}
.dropdown_title {
    font-size: 15px;
    font-weight: 700;
}
.chip  {
    display: flex;
    position: relative;
    left: 5px;
    height: 40px;
    width: 20%;
    font-size: 16px;
    width: 40%;
    align-items: center;
    justify-content: start;
    gap: 1em;
    color: rgb(73, 72, 72);  
}
.chip > p {
    width: 0.5em;
}
.chip:hover {
    background-color: #d4d3d3;
    border-radius: 24px;
}
.dropdown-content {
    display: none;
}
.dropdown:hover .dropdown-content {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 12px;
    gap: 2px;
    height: 580px;
    width: 470px;   
}
.actions {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 15px;
}
.appBarBtn {
    width: 140px;
    height: 44px;
    border-radius: 12px;
    align-items: center;
    font-weight: bold;
}
.appBarBtn:nth-child(2) { 
    color: #fff;
    background-color: #58cc02;
    border-bottom: 0px solid #58a700;
    border-width: 0px 2px 4px 2px;
}
.appBarBtn:last-child {
    color: #0b3e71;
    background-color: #fff;
    border: 0px solid #1899d6 ;
    border-width: 1px 2px 4px 2px;
}
@media screen and (max-width:980px) {
    .appBarContent {
        width: 80%;
        display: flex;
        justify-content: start;       
    }  
    .dropdown_title {
        display: none;
    }
    .appBarBtn {
        display: none;
    }
}

@media screen and (max-width:1200px) {
    .appBarBtn {
        display: none;
    }   
    
}