.screen_2 {
    display: flex;
    flex-direction: column;
    flex-grow: initial;
    width: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: white;
}
.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    height: 20rem;
}
.content:nth-child(3) {
    height: max-content;
}
.content:nth-child(3) > .largeScreen{
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.content:nth-child(3) > .largeScreen > .con2body {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center; 
    height:auto;
}
.content:nth-child(3) > .largeScreen > .con2body >  .con2Item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center; 
   
}
.content:nth-child(3) > .largeScreen > .con2body >  .con2Item > .subItems{
    display: flex;
    flex-direction: row;
    width: 100%;   
    gap: 10px; 
}
.content:nth-child(3) > .largeScreen > .con2body >  .con2Item:nth-child(3) > .subItems{
    display: flex;
    justify-content:flex-end;  
}
.subItems >.imageItem {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.subItems > .items {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    height: max-content;
}
.subItems > .items > *{
    line-height: .5;
    column-gap: 0;
    row-gap: 0;
}
.subItems > .items > .textItemSmall2 {
    font-size: 17px;
    line-height: 1.5;
}
.subItems > .items > .textItemSmall2 > .textItemSmall3 {
    font-size: 17px;
}
.content:nth-child(3) > .smallScreen{
    display: none;
}
.textItem1, .textItemSmall1{
    color: #3c3c3c;
}
.textItem2, .textItemSmall2 {
    color: #777;
    line-height: 1.5;
    text-align: left;
    align-items: stretch;
}
.textItem3, .textItemSmall3{
    color: #1cb0f6;
}
.textItem1 {
    font-size: 24px;
    line-height: 26px;
}
.textItem2 {
    font-size: 17px;
    line-height: 1.5;  
}
.textItem3 {
    font-size: 15px;
    font-weight: 800;
    letter-spacing: .8px;
}
.textItemSmall1 {
    font-size: 19px;
    line-height: 20px;
}
.textItemSmall2 .textItemSmall3{
    font-size: 14px;
    line-height: 1.7;
}
.content:nth-child(9) .items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}
.storeBtns {
    display: flex;
    column-gap: 15px;
}
.storeButton {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    background-color: transparent;
    width: 192px;
    height: 70px;
    border:1px solid #d4d3d3 ;
    border-radius: 12px;
    border-width: 2px 2px 4px 2px;
    align-items: center;
    text-align: start;
}
@media screen and (max-width:400px) {
    .content {
        height: max-content;
    }
    
}
@media screen and (max-width:980px) {
    .screen_2 {
        row-gap: 2em;
    }
    .content {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    hr.dividers {
        border-top: 1px solid gray;
        width: 100%;
    }
    .items {
        text-align: center;
        align-items: center;
    }
    .content:nth-child(1),
    .content:nth-child(3),
    .content:nth-child(5),
    .content:nth-child(9),
    .content:nth-child(13) {
        display: flex;
        flex-direction: column;
        height: max-content;
    }
    .content:nth-child(7),
    .content:nth-child(11) {
        flex-direction: column-reverse;
        height: max-content;
    }
    .subItems > .items {
        text-align: left;
        align-items: left;
    }
    .content:nth-child(3) {
        width: 80%;  
        height: max-content;
    }
    .content:nth-child(3) > .smallScreen {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;  
        text-align: left;
    }
    .content:nth-child(3) > .smallScreen > .subItems {
        display: flex;
        justify-content: start;
        align-items: flex-start;
        gap: 1.5em;
    }
    .content:nth-child(3) > .smallScreen > .subItems > .items {
        width: 100%;
    }
    .content:nth-child(3) .largeScreen {
        display: none;
    }
    .storeBtns {
        gap: 15px;
    }
}

