.cont {
  display: block;
}
.appbar { 
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.btn {
  width: 150px;
  height: 60px;
  font-size: 18px;
  padding: 6px;
  margin: 4px;
  background-color: transparent;
  border: 1px solid transparent;
  box-shadow: rgba(202, 146, 179, 0.2) 0px 7px 29px 0px;
}
.btn:hover {
  box-shadow: #ce57339d 0px 7px 29px 0px;
}
.divider {
  height: 1px;
  border: none;
  background: linear-gradient(135deg, #ab92da , #6c38cc , #da4d3d75 ,#FF7F50, #b43795 , #da4d3d75, #6c38cc);
}
.searchItem {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 25px;
  border-radius: 25px;
}
.input {
  width: 380px;
  height: 45px;
  border: none;
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
  padding-left: 12px;
  font-size: 16px;
  background-color: transparent;   
  border: 1px solid purple;
  background-clip: padding-box;   
}
.input:focus{
  outline: none;
}
.searchIcon {
  height: 45px;
  width: 45px;
  display: flex;
  align-items: center;
  background: #6c38cc;
  justify-content: center;
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
}

