@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Sofia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@800&display=swap');

.category {
  height: 60px;
  width: 300px;
  font-size: 32px;
  padding-left: 35px;
  padding-top: 6px;
  margin-bottom: 20px;
  font-family: 'Arima Madurai', cursive;
  background-image: linear-gradient(#e97d78, #d14841);
  background-clip: text;
  -webkit-text-fill-color: transparent;

}
