html, body {
    height: 100%;
    width: 100%;
}
body {
    position: relative;
}
hr.dividers {
    border-top: 1px solid gray;
    width: 60%;
}
.items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
}
.imageItem .items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
}
