body {
    display: flex
}
div {
    height: 150px;
    width: 100px;
    padding-left: 10px;
    border-left: 10px dotted #D0D0FF ;
    background-color: #eeeff2;
    margin-right: 10px;
    font-family: "Tahoma";
    font-size: 40px;
}
div:hover{
    background-color: yellow ;
    color: #e7894b;
}
div:last-child {
    right: 0;
    bottom: 0;
    position: fixed;
}